.slick-prev:before, .slick-next:before {
    
    font-size: 30px;
    display: flex;
  }
  .slick-prev {
    z-index: 4;
    left: 3%;
}
   .slick-next {
    z-index: 4;
    right: 5%;
  
}
body {
  background-image: url('/images/bureaudetailler.webp'); /* Assurez-vous que le chemin est correct */
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
}


.slick-dots{
  bottom: 20px;
  color: white;

}
.slick-slide img {
  display: block;
  border-radius: 0px 15px 15px 0px
}

/* Chatbot.module.css */
@media (max-width: 600px) {
  .sizecarou {
      display: none;
  }
  .backButton{

    display: none;
  }
}

.fade-enter {
  opacity: 0;
}
.fade-enter-active {
  opacity: 1;
  transition: opacity 900ms;
}
.fade-exit {
  opacity: 1;
}
.fade-exit-active {
  opacity: 0;
  transition: opacity 900ms;
}
