.slick-prev:before, .slick-next:before {
    
    font-size: 30px;
    display: flex;
  }
  .slick-prev {
    z-index: 4;
    left: 3%;
}
   .slick-next {
    z-index: 4;
    right: 5%;
  
}

.slick-dots{
  bottom: 20px;
  color: white;

}
