.slick-prev:before, .slick-next:before {
    
    font-size: 30px;
    display: flex;
  }
  .slick-prev {
    z-index: 4;
    left: 3%;
}
   .slick-next {
    z-index: 4;
    right: 5%;
  
}
body {
  background-image: url('/images/bureaudetailler.webp'); /* Assurez-vous que le chemin est correct */
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
}


.slick-dots{
  bottom: 20px;
  color: white;

}
.slick-slide img {
  display: block;
  border-radius: 0px 15px 15px 0px
}
/* styles/global.css */
.backButton {
  position: absolute;
  left: 78%;
  bottom: 38px;
  padding: 10px 20px;
  border: none;
  color: white;
  cursor: pointer;
  background-color: var(--back-button-color, #fe5d5d); /* Utilisez une variable CSS avec une valeur par défaut */
  border-radius: 5px;
  /* Ajoutez d'autres styles selon vos besoins */
}
