.chatbotwrap{
    width: 80%;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 10%;
    margin-top: 25px;
  }
  .hidden {
    display: none;
  }
  .formusize{
    width: 90%;
    margin-bottom: 12px;
    margin-top: 12px;
  }
  .conteneurglobal{
    border-radius: 15px;
    margin: 0;
    background-color: #f4e8df;
    width: 100%;
    display: flex;
    flex-direction: row-reverse;
    align-items: flex-end;
    box-shadow: 0 4px 11px 0px #c4b291;
  } 
  
  .sizecarou{
    width: 70%;
    height: 650px;
  }
  /* Input field focus state */
  .input:focus {
    border-color: #007bff; /* Highlight color */
    outline: none;
    }
    
  
    
  .container {
    border-radius: 8px;
    overflow-y: auto;
    padding: 10px;
    margin: 20px;  
    background-color:  #b4d9d6;
    width: 100%;
    max-height: 590px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    box-shadow: 0 4px 11px 0px #040606;
   
  }
    /* Custom scrollbar for container */
    .container::-webkit-scrollbar {
      width: 8px;
    }
      
    .container::-webkit-scrollbar-thumb {
      background: #add8e6; /* Scroll thumb color */
      border-radius: 4px;
      
    }
  
  
  
  .fromflex{
    display: flex;
    flex-direction: column;
    height: 650px;
    justify-content: flex-end;
    align-items: stretch;

    
    
  }
  .messageUser {
    padding: 10px;
    margin: 10px;
    border-radius: 10px;
    background-color: #c4b291;
    text-align: left;
  
  }

  .sentImage{
    width: 100%;
    border-radius: 10px;
    padding-top: 5px;
  }
  
  
  .messageBot {
    padding: 10px;
    margin: 10px ;
    border-radius: 10px;
    background-color: #e2c784;
    text-align: left;
    display: flex;
    flex-direction: column;
  }

.buttonWithIcon {
  background: none;
  border: none;
  padding: 6px;
  margin: 10px;
  cursor: pointer;
  background-color: rgb(226, 199, 131);
  border-radius: 50%;
  width: 45px;
}

.buttonWithIcon:hover {
  background: none;
  border: none;
  padding: 6px;
  margin: 10px;
  cursor: pointer;
  background-color: #f4e8df;
  transition: 0.5s;
  border-radius: 50%;
  width: 45px;
}

  /* Vous pouvez également ajouter des styles pour l'icône si nécessaire */
  .iconStyle {
    color: #006666; /* La couleur de l'icône, ajustez selon vos besoins */
    font-size: 24px; /* La taille de l'icône */
    /* Ajoutez ici d'autres styles si nécessaire */
  }

  .buttonWithIcon.recognizing {
    background-color: #1c5c66; /* Changement de couleur */
    animation: blink 1s infinite; /* Animation de clignotement */
  }
  


  @keyframes blink {
    0% { opacity: 1; }
    50% { opacity: 0.5; }
    100% { opacity: 1; }
  }
  .inverse{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
  }
  .input {
    border-radius: 5px;
    padding: 10px;
    width: calc(100% - 22px);
    margin-bottom: 15px;
  }
  .espacmentbutton{
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-around;
  }
  .button {
    padding: 10px;
    width: 100%;
    background-color: #008b8b;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    user-select: none;
    margin-top: 5px;
    margin-bottom: 5px;
  }
  .button:hover {
    background-color: #006666;
  }
  .button:focus {
    outline: none;
  }
  .comptarebour{
    background-color: #e2c784b3; /* Fond noir avec 70% de transparence */
    color: white; /* Couleur du texte en blanc */
    padding: 10px;
    border-radius: 5px;
    text-align: center;
    position: absolute;
    transform: translate(-50%, -50%);
  }
  .textarea {
    margin-bottom: 16px;
    margin-top: 13px;
    width: 100%;
    min-height: 40px;
    resize: none;
    overflow: hidden;
    padding: 10px;
    font-size: 16px;
    line-height: 1.5;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
    outline: none;
  }
  .textarea:focus {
    border-color: #007bff;
  }
  .speakButton {
    margin-left: 10px;
    cursor: pointer;
    background: none;
    border: none;
    color: #007bff; /* Exemple de couleur, ajustez selon votre design */
  }

  /* Improved button styling */
  .button {
  padding: 10px;
  width: 100%;
  background-color: #c4b291; /* Example primary color */
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  }
  
  .button:hover {
  background-color: #008B8B ;
  transition: 0.5s; /* Darker shade for hover */
  }
  
  .textarea:focus {
    border-color: #007bff;
  }
  /* Animation for new messages */
  @keyframes slideIn {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
  }
  
  .messageUser,
  .messageBot {
    animation: slideIn 0.3s ease-out;
  }
  @media (max-width: 600px) {
    .sizecarou {
        display: none;
    }
    .chatbotwrap{
      width: 100%;
      display: flex;
      flex-direction: row;
      align-items: center;
      margin-left: 0;
      margin-top: 25px;
    }
    .conteneurglobal{
      margin-top: 25px;
    
    }
    .container {
  
      max-height: 479px;
  
     
    }
  
  
  }
  .backButton {
    position: relative;
    left: 76%;
    bottom: 63px;
    padding: 10px 20px;
    border: none;
    color: white;
    cursor: pointer;
    background-color:   #c4b291;
    border-radius: 5px;
    display: flex;
  
  }
  